<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Insumo 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
 

  <ion-grid>
    <ion-row>
      <ion-col size="6" size-md="4" size-lg="2">
        <h1>Led 1</h1>
        <ion-button (click)="cambiarLed1('LED1')" [color]="getColor1(estadoLed1)" id="miBoton" ><ion-icon name="power-outline"></ion-icon></ion-button>
      </ion-col>
      <ion-col size="6" size-md="4" size-lg="2">
        <h1>Led 2</h1>
        <ion-button (click)="cambiarLed2('LED2')" [color]="getColor2(estadoLed2)" id="miBoton" ><ion-icon name="power-outline"></ion-icon></ion-button>
      </ion-col>
      <ion-col size="6" size-md="4" size-lg="2">
        <h1>Led 3</h1>
        <ion-button (click)="cambiarLed3('LED3')" [color]="getColor3(estadoLed3)" id="miBoton" ><ion-icon name="power-outline"></ion-icon></ion-button>
      </ion-col>
      <ion-col size="6" size-md="4" size-lg="2">
        <h1>Led 4</h1>
        <ion-button (click)="apagarLeds()"  id="miBoton"><ion-icon name="power-outline"></ion-icon></ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  

</ion-content>
